			<div class="container">
				<div class="c-panel">
				<form action="./index.php?control=user&action=addedCollaborator" role="form" method="post">
					<div class="content-box">
						<h2 class="text-left pink-font">Add Collaborators On Your Project</h2>
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label">User Nick Name:</label>
								<div class="col-sm-10">
									<select class="form-control">
										{users}
									</select>
 								</div>
							</div>
						</div>
					</div>
					<button class="btn btn-primary login-button btn-lg ubtn" type="submit">Add</button>
				</form>
				</div>
			</div>