		<div class="container">
			<div class="general-info">
				<h2>New Blog Entry</h2>
				<p>Here you can add a new blog entry for your project</p>
			</div>
			<form action="./index.php?control=blog&action=addEntry&pjtid={pjtid}" class="form-entry-blog" role="form-group" method="post">
				<div class="form-group">
					<label for="">Title</label>
					<input id="Blogtitle" name="Blogtitle" type="text" class="form-control" placeholder="Title here...">
					<p class="help-block">Choose a Great Title For Your Blog Entry</p>
				</div>
				<div class="form-group">
					<label>Entry Edition</label>
					<textarea class="form-control" rows="20" name="textAreaContent" id="textAreaContent" ></textarea>
				</div>
				<button class="btn btn-primary login-button" type="button" onclick="showPreview()">Preview</button>
			
				<div class="content-box content-panel">
					<h3 id="titleEntryBlog"></h3>
					<div class="blog-data">
						<div class="blog-date">
							<em>{date}</em>
						</div>
						<div class="blog-author">
							By <a href="#" >{user}</a>
						</div>
						<div class="cleaner"></div>
						<div class="blog-content" id="contentEntryBlog">
							<div id="auxContent"></div>
						</div>
					</div>
				</div>
			<div class="with-margin-bottom">
				<button class="btn btn-primary login-button" type="submit">Add Entry</button>
			</div>
			</form>
		</div>