		<div class="container container-margin">
			<!-- Todo lo demas que "no" tiene q ver con las entradas -->
			<div class="left-panel-1">
				<div class="general-info">
					<h1>{projectName}</h1>
					<p>{projectDescription}</p>
				</div>
					{projectArticles}
			</div>
			<div class="right-panel-1">
				<div class="">
					<div class="content-box-article-authors blog-usr">
						<h3>Article Authors:</h3>
						{projectArticleAuthors}
					</div>
				</div>
				<div class="">
					<!-- futura paginacion -->	
				</div>
			</div>
		</div>