		<div class="container container-margin">
			<!-- Todo lo demas que "no" tiene q ver con las entradas -->
			<div class="left-panel-1">
				<div class="general-info">
					<h1>{projectName}</h1>
					<p>{projectDescription}</p>
				</div>
					{projectBlog}
			</div>
			<div class="right-panel-1">
				<div class="projectBlogUsers">
					<div class="content-box-blog-usr blog-usr">
						<h3>Blog Authors:</h3>
						{projectBlogUsers}
					</div>
				</div>
				<div class="projectBlogByDate">
						{projectBlogIndex}
				</div>
			</div>
		</div>