		<div class="container container-margin">
			<div class="dead-space-login visible-lg"></div>
			<form class="form-signin" role="form" method="post" action="./index.php?control=login&action=authenticate">
				<h2 class="form-signin-heading text-center">Login</h2>
				<input id="user" name="user" type="text" class="form-control loginForminput" placeholder="NickName" required autofocus>
				<input id="passwd" name="passwd" type="password" class="form-control loginForminput" placeholder="Password" required>
				<button class="btn btn-lg btn-primary btn-block login-button" type="submit">Login</button>
			</form>
			<div class="dead-space-login visible-lg"></div>
		</div>