		<div id="myCarousel" class="carousel slide hidden-xs" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<img src="./www/img/1.jpg">
					<div class="container">
						<div class="carousel-caption">
							<!--  content here -->
						</div>
					</div>
				</div>
				<div class="item">
					<img src="./www/img/2.jpg">
					<div class="container">
						<div class="carousel-caption">
							<!--  content here -->
						</div>
					</div>
				</div>
				<div class="item">
					<img src="./www/img/3.jpg">
					<div class="container">
						<div class="carousel-caption">
							<!--  content here -->
						</div>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</div>
		<div class="container">
			<div class="right-panel-2">
				<div class="general-info">
					<h2>Welcome to ProjectManager!</h2>
					<p>This is a project managment system ready to help you.</p>
					<p>If you have any questions about the administration or configuration of the system please
					   contact <a href="https://github.com/seiferxx">Seifer</a> or <a href="https://github.com/malvadaMaligna">MalvadaMaligna</a>
					</p>
					<p>This is just an example but you should put here important information about your system</p>
				</div>
				<div class="content-box">
					{blogEntry}
				</div>
				<div class="content-box">
					{wikiArticle}
				</div>	
			</div>
			<div class="left-panel-2 content-color">
				<ul>
					<li><a href="http://www.raspberrypi.org/"></a></li>
					<li><a href="www.themagpi.com"></a></li>
					<li><a href="https://www.modmypi.com/"></a></li>
					<li><a href="http://www.adafruit.com/"></a></li>
					<li><a href="https://www.facebook.com/"></a></li>
					<li><a href="https://twitter.com/"></a></li>
					<li><a href="https://plus.google.com/"></a></li>
				</ul>
			</div>
		</div>		
		
