		<div id="myCarousel" class="carousel slide hidden-xs" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<img src="">
					<div class="container">
						<div class="carousel-caption">
							<!--  content here -->
						</div>
					</div>
				</div>
				<div class="item">
					<img src="">
					<div class="container">
						<div class="carousel-caption">
							<!--  content here -->
						</div>
					</div>
				</div>
				<div class="item">
					<img src="">
					<div class="container">
						<div class="carousel-caption">
							<!--  content here -->
						</div>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</div>
		<div class="container container-margin">
			<div class="left-panel">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis dignissim dui, quis tristique massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum tellus ac ornare cursus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque eget orci nec lacus faucibus pharetra eu vel erat. Curabitur non suscipit enim. In interdum augue ut purus placerat, eget facilisis tellus vestibulum. Vivamus feugiat placerat turpis vel cursus. Aliquam erat volutpat. Aliquam pharetra nunc a sodales rutrum. Quisque est felis, porta et dolor at, vestibulum venenatis libero. Sed at velit lacinia, accumsan odio semper, vulputate velit.
			</div>
			<div class="right-panel">
				<div class="content-box">
					<h3>Title</h3>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis dignissim dui, quis tristique massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum tellus ac ornare cursus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque eget orci nec lacus faucibus pharetra eu vel erat. Curabitur non suscipit enim. In interdum augue ut purus placerat, eget facilisis tellus vestibulum. Vivamus feugiat placerat turpis vel cursus. Aliquam erat volutpat. Aliquam pharetra nunc a sodales rutrum. Quisque est felis, porta et dolor at, vestibulum venenatis libero. Sed at velit lacinia, accumsan odio semper, vulputate velit.
				</div>
				<div class="content-box">
					<h3>Title</h3>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis dignissim dui, quis tristique massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum tellus ac ornare cursus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque eget orci nec lacus faucibus pharetra eu vel erat. Curabitur non suscipit enim. In interdum augue ut purus placerat, eget facilisis tellus vestibulum. Vivamus feugiat placerat turpis vel cursus. Aliquam erat volutpat. Aliquam pharetra nunc a sodales rutrum. Quisque est felis, porta et dolor at, vestibulum venenatis libero. Sed at velit lacinia, accumsan odio semper, vulputate velit.
				</div>	
			</div>
		</div>		
		
