			<li class="dropdown">
				<a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-home"></i> Home<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="./index.php?control=user&action=profile"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
					<li><a href="./index.php?control=project&action=showAllProjects"><i class="glyphicon glyphicon-book"></i> Projects</a></li>
					<li><a href="./index.php?control=user&action=settings"><i class="glyphicon glyphicon-wrench"></i> Settings</a></li>
					<li class="divider"></li>
					<li><a href="./index.php?control=login&action=logOut"><i class="glyphicon glyphicon-log-out"></i> Log out</a></li>
				</ul>
			</li>