		<div class="container">
			<div class="right-panel-2">
				<div class=""> 
					<h2 class="profi">Recent Activity</h2>
					{lastEntryBlog}
					{lastArticle}
				</div>
			</div>
			<div class="left-panel-2">
				<div class="content-box"> 
				<ul class="nav nav-pills nav-stacked">
					<li class="active">
    					<a href="./index.php?control=project&action=newProject">New Project</a>
					</li>
  					<li class="active">
    					<a href="./index.php?control=user&action=showTasks"><span class="badge pull-right">{task}</span>Task</a>
					</li>
				</ul>
				<h5>Projects where you colaborate</h5>
				<ul>
					{projects}
				</ul>
				</div>
			</div>
			
		</div>