			<div class="container mg-top-c">
				<div class="content-box">
					<h2 id="projectName" name="projectName" class="text-left">{name}</h2>
					<div class="blog-date">
						<a>Date start project </a><em>{dateStart}</em>
					</div>
					<div class="cleaner"></div>
					<label>Status <a>{status}</a></label>
					<p>{description}</p>
				</div>
				<div class="btn-projects">
					<div class="btn-project-line">
						<div class="btn btn-primary login-button">
							<a class="white-font" href="./index.php?control=blog&action=newEntryBlog&pjtid={pjtid}">Add Article</a>
						</div>
					</div>
					<div class="btn-project-line">
						<div class="btn btn-primary login-button">
							<a class="white-font" href="./index.php?control=article&action=newArticleEntry&pjtid={pjtid}">Add Article</a>
						</div>
					</div>
					<div class="btn-project-line">
						<div class="btn btn-primary login-button">
							<a class="white-font" href="./index.php?control=project&action=newTask&pjtid={pjtid}">Add Task</a>
						</div>
					</div>
				</div>
			</div>