		<div class="container">
			<div class="dead-space-user-register visible-lg"></div>
			<div class="c-panel">
			<form action="./index.php?control=user&action=userContactRegister" role="form" method="post">
				<fieldset>
					<legend class="register-legend"><h3 class="register-legend">User Contact</h3></legend>
					<div class="input-pair form-group">
						<label class="register-label">Facebook:</label>
						<input type="text" class="form-control" name="fb" id="fb">
					</div>
					<div class="input-pair form-group">
						<label class="register-label">Twitter:</label>
						<input type="text" class="form-control" name="tw" id="tw">
					</div>	
					<div class="input-pair form-group">
						<label class="register-label">Github:</label>
						<input type="text" class="form-control" name="git" id="git">
					</div>
					<div class="input-pair form-group">
						<label class="register-label">Google+:</label>
						<input type="text" class="form-control" name="google" id="google">
					</div>	
					<div class="input-pair form-group">
						<label class="register-label">Cell Phone:</label>
						<input type="text" class="form-control" name="cel" id="cel">
					</div>
				</fieldset>
				<button class="btn btn-primary login-button btn-lg float-left" type="submit">Register</button>	
			</form>	
			</div>
			<div class="dead-space-user-register visible-lg"></div>
		</div>