		<div class="container">
			<div class="c-panel">
			<form action="">
				<fieldset>
					<legend>User Data</legend>
						<label>Name:</label>
						<input type="text" name="name" id="name">
						<label>Last Name:</label>
						<input type="text" name="lastName" id="lastName">
						<label>Nick Name:</label>
						<input type="text" name="nickName" id="nickName">
						<label>Password:</label>
						<input type="text" name="password" id="password">
						<label>E-mail:</label>
						<input type="text" name="email" id="email">
						<label>Code:</label>
						<input type="text" name="code" id="code">
						<!-- fechaaa desde ctrl -->
						<label>User Type</label>
						<select name="userType" id="userType">
							<option value="1">Administrator</option>
							<option value="2">Teacher</option>
							<option value="3">Alumn</option>
							<option value="4">Guest</option>
						</select>
						<label>Password:</label>
						<input type="text" name="password" id="password">
				</fieldset>
				<fieldset>
					<legend>User Contact</legend>
						<label>Facebook:</label>
						<input type="text" name="fb" id="fb">
						<label>Twitter:</label>
						<input type="text" name="tw" id="tw">
						<label>Github:</label>
						<input type="text" name="git" id="git">
						<label>Google+:</label>
						<input type="text" name="google" id="google">
						<label>Cell Phone:</label>
						<input type="text" name="cel" id="cel">
				</fieldset>	
			</form>	
			</div>
		</div>