		<div class="container">
			<div class="dead-space-user-register visible-lg"></div>
			<div class="c-panel">
			<form action="./index.php?control=user&action=userRegister" role="form" method="post">
				<fieldset>
					<legend class="register-legend"><h3 class="register-legend">User Data</h3></legend>
						<div class="input-pair form-group">
							<label class="register-label">Name:</label>
							<input type="text" class="form-control" name="name" id="name" required>
						</div>
						<div class="input-pair form-group">
							<label class="register-label">Last Name:</label>
							<input type="text" class="form-control" name="lastName" id="lastName" required>
						</div>
						<div class="input-pair form-group">
							<label class="register-label">Nick Name:</label>
							<input type="text" class="form-control" name="nickName" id="nickName" required>
						</div>
						<div class="input-pair form-group">
							<label class="register-label">E-mail:</label>
							<input type="text" class="form-control" name="email" id="email" placeholder="helloWord@gmail.com" required>
						</div>
						<div class="input-pair form-group">
							<label class="register-label">Code:</label>
							<input type="text" class="form-control" name="code" id="code" required>
						</div>
						<div class="input-pair form-group">
							<label class="register-label">Password:</label>
							<input type="password" class="form-control" name="password" id="password" placeholder="MyPassword911" required>
						</div>
						<!-- fechaaa desde ctrl -->
						<!-- tipo de usuario setearlo con guest o alumn -->
				</fieldset>
				<button class="btn btn-primary login-button btn-lg float-left" type="submit">Register</button>	
			</form>	
			</div>
			<div class="dead-space-user-register visible-lg"></div>
		</div>