		<div class="container">
			<div class="dead-space-user-register visible-lg"></div>
			<div class="c-panel">
			<form action="">
				<fieldset>
					<legend class="register-legend"><h3 class="register-legend">User Data</h3></legend>
						<div class="input-pair">
							<label class="register-label">Name:</label>
							<input type="text" name="name" id="name" >
						</div>
						<div class="input-pair">
							<label class="register-label">Last Name:</label>
							<input type="text" name="lastName" id="lastName">
						</div>
						<div class="input-pair">
							<label class="register-label">Nick Name:</label>
							<input type="text" name="nickName" id="nickName">
						</div>
						<div class="input-pair">
							<label class="register-label">E-mail:</label>
							<input type="text" name="email" id="email" placeholder="helloWord@gmail.com" required>
						</div>
						<div class="input-pair">
							<label class="register-label">Code:</label>
							<input type="text" name="code" id="code">
						</div>
						<!-- fechaaa desde ctrl -->
						<!-- tipo de usuario setearlo con guest o alumn -->
				</fieldset>
				<fieldset>
					<legend class="register-legend"><h3 class="register-legend">User Contact</h3></legend>
					<div class="input-pair">
						<label class="register-label">Facebook:</label>
						<input type="text" name="fb" id="fb">
					</div>
					<div class="input-pair">
						<label class="register-label">Twitter:</label>
						<input type="text" name="tw" id="tw">
					</div>	
					<div class="input-pair">
						<label class="register-label">Github:</label>
						<input type="text" name="git" id="git">
					</div>
					<div class="input-pair">
						<label class="register-label">Google+:</label>
						<input type="text" name="google" id="google">
					</div>	
					<div class="input-pair">
						<label class="register-label">Cell Phone:</label>
						<input type="text" name="cel" id="cel">
					</div>
					<div class="input-pair">
						<label class="register-label">Password:</label>
						<input type="text" name="password" id="password" placeholder="MyPassword911" required>
					</div>
				</fieldset>
				<button class="btn btn-primary login-button btn-lg float-right" type="submit">Register</button>	
			</form>	
			</div>
			<div class="dead-space-user-register visible-lg"></div>
		</div>