.footer{
	padding: 40px 0;
	color: #999;
	text-align: center;
	background-color: #101010;
	border-top: 1px solid #e5e5e5;
	float: bottom;
}

a{
	color: #CC0066;
}

a:hover{
	color: #CC0066;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.loginForminput{
	margin-bottom: 8px;
	margin-top: 8px;
}
.loginButton{
	background-color: #CC0066;	
}
.loginButton:hover{
	background-color: #CC0066;
}
.cleaner{
	clear: both;
}

.carousel {
  height: 350px;
  margin-bottom: 60px;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  height: 350px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 350px;
}

.navbar-no-magin{
	margin-bottom: 0;
}

.left-panel{
	width: 25%;
	float: left;
	margin-right: 3%;
	background-color: #eee;
}

.right-panel{
	width: 70%;
	float: left;
}

.container-margin{
	margin-bottom: 50px;
	margin-top: 50px;
}

.content-box{
	background-color: #eee;
	padding: 4%;
	margin-bottom: 50px;
}
.navbar-margin{
	padding-left: 15px;
}

.dead-space{
	height:500px;
}
.dead-space2{
	height:200px;
}